body {
    background-image: linear-gradient(to bottom, rgb(28, 24, 255), rgb(105, 132, 253));
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    font-Family: sans-serif;
    overflow-y: scroll; overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    display: inline;
}

.github {
    display: inline;
    padding-top: 6px;
    float: right;
}

.nds, .gb, .gba, .gbc, .nes, .snes, .psx, .n64 {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.nds-link, .gb-link, .gba-link, .gbc-link, .nes-link, .snes-link, .psx, .n64 {
    font-size: 20px;
    display: none;
    margin-bottom: 10px;
}

.nds:hover .nds-link {
    display: block;
}

.gb:hover .gb-link {
    display: block;
}

.gba:hover .gba-link {
    display: block;
}

.gbc:hover .gbc-link {
    display: block;
}

.nes:hover .nes-link {
    display: block;
}

.snes:hover .snes-link {
    display: block;
}

a:visited, a:link {
    color: white;
    text-decoration: none;
}