body {
    background-image: linear-gradient(to bottom, rgb(28, 24, 255), rgb(105, 132, 253));
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    font-Family: sans-serif;
    overflow-y: scroll; overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gb {
    margin-left: auto;
    margin-right: auto;
}

#gb-link {
    font-size: 20px;
    display: none;
    margin-bottom: 10px;
}

.gb:hover #gb-link {
    display: block;
}

a:visited, a:link {
    color: white;
    text-decoration: none;
}